/* Header */

.header-container {
    padding: 1rem 0rem 1rem 3rem;
}

.header-logo {
    width: 16rem;
}

.btn-menu {
    display: none;
}

.nav-content {
    display: flex;
}

.nav-content li {
    padding: 0 2rem;
    list-style: none;
    border-left: 1px solid var(--grey);
}

.nav-content a {
    text-decoration: none;
    color: var(--grey);
    font-size: 1.8rem;
}

.nav-content a:hover {
    color: var(--dark-grey);
    border-bottom: 2px solid var(--red);
}

.nav-content li:nth-child(1) {
    border-left: none;
}

.header-container .nav-btn-wapp {
    display: flex;
    background: linear-gradient(180deg, rgba(137,137,137,1) 0%, rgba(122,122,122,1) 41%, rgba(106,106,106,1) 90%);
    border-radius: 3rem 0 0 3rem;
}

.nav-btn-wapp img {
    width: 5rem;
    margin: .5rem 6rem .5rem 2rem;
    cursor: pointer;
}

/* Main */

/* seccion de inicio */

.inicio-video-container {
    display: none;
}

.video-desktop {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;
}

video {
    max-width: 1920px;
    display: flex;
    margin-top: 8rem;
}

/* Fondo */
.info-container {
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url(../images/background-main-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Publicaciones feed instagram */
.publicaciones-container {
    margin-top: 10rem;
}

.publicaciones-container .publicaciones-title-container {
    justify-content: center;
}

.publicaciones-container .feedInsta-container {
    margin: 4rem 6rem 0 6rem;
}

/* Seccion de servicios */

.servicios-container {
    align-items: center;
}

.servicios-container .servicios-title-container {
    justify-content: center;
    align-self: center;
}

.cards-container {
    margin: 3.5rem 0 6rem 0;
    max-width: 1230px;
}

.arriendos,
.ventas,
.avaluos,
.hipotecas,
.asesorias {
    width: 30rem;
    height: 35rem;
    margin: 1.5rem;
}

.card-hover .hover-contact-container {
    margin-top: 3rem;
}

/* Secccion Redes Sociales */

.contacto-container .contacto-title-container {
    justify-content: center;
}

.contacto-container .redes-container {
    align-items: center;
}

.redes-container .coseinpro-container {
    align-self: center;
    width: 45rem;
}

.redes-container .coseinpro-container p {
    margin-right: 2.5rem;
}

.contacto-container .links-redes-container {
    border-radius: 0 3.5rem 3.5rem 0;
}

.contacto-container .links-redes-container a {
    width: 5.5rem;
    height: 5.5rem;
}

.contacto-container .links-redes-container img {
    width: 5.5rem;
    height: 5.5rem;
}

/* Formulario de contacto */

.contacto-container .info-contacto-container {
    padding: 20rem  4rem;
}

/* Footer */

/* Botes flotantes */

.go-wpp-container {
    display: none;
}

.go-wpp-container .go-wpp-button {
    display: none;
}

.go-wpp-container .go-wpp-button img {
    display: none;
}