/* Configuraciones principales */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Hanson';
    src: url('../fonts/Hanson-Bold.ttf') format('truetype'); 
}

:root {
    --red: #FF0000;
    --dark-red: #7B0000;
    --white: #FFFFFF;
    --dark-grey: #141414;
    --grey: #4D4D4D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

h2 {
    font-family: 'Hanson';
}

/* Header */
.header-container {
    background-color: var(--white);
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2; /* eliminar luego de poner el feed de insta */
}

.header-container .nav-btn-wapp {
    display: none;
}

.header-logo {
    width: 13rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background: linear-gradient(180deg, rgba(20,20,20,1) 48%, rgba(35,35,35,1) 72%, rgba(37,37,37,1) 95%);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  justify-content: space-between;
}

.sidebar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .list-container {
    width: 100%;
}

.sidebar li {
    width: 100%;
    height: 6rem;
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(35,35,35,1) 72%, rgba(37,37,37,1) 95%);
}

.sidebar li:active {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 69%);
}

.sidebar a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.8rem;
    margin: 0 3rem;
    letter-spacing: .1rem;
}

.sidebar .list-container :nth-child(4) {
    display: none;
}

.sidebar .sidebar-btn-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar .sidebar-btn-contacto button {
    border: none;
    width: 19rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 80%);
    font-family: 'Hanson';
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 9px 9px 10px -6px rgba(0,0,0,0.75);
}

.sidebar .white-logo-container {
    width: 100%;
    height: auto;
    margin: 2rem 0 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .white-logo-container .sidebar-line {
    width: 20rem;
    height: .1rem;
    background-color: var(--white);
}

.sidebar .white-logo-container img {
    width: 12rem;
    margin-top: 3rem;
}

.btn-menu, .buttom-close-container .btn-close{
    cursor: pointer;
    border: none;
    background: none;
}

.buttom-close-container .btn-close {
    margin: 2rem 3rem;
}

.buttom-close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-content {
    display: none;
}
/* Main */

/* seccion de inicio */

.inicio-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.video-desktop {
    display: none;
}

video {
    width: 100%;
    height: auto;
    pointer-events: none;
}

/* Fondo */
.info-container {
    background-image: url(../images/background\ main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Publicaciones feed instagram */

.publicaciones-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.publicaciones-container .publicaciones-title-container {
    display: flex;
}

.publicaciones-container .publicaciones-title-container h2 {
    font-size: 2.2rem;
    margin: .5rem 1rem 0 1rem;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.publicaciones-container .feedInsta-container {
    height: 40rem;
    background-color: lightgrey;
    margin: 2rem 3rem 0 3rem;
    opacity: .3;
}

.btn-catalogo-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.btn-catalogo-container a {
    text-decoration: none;
}

.btn-catalogo-container button {
    border: none;
    padding: 1rem 2rem .5rem 2rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 80%);
    font-family: 'Hanson';
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 9px 9px 10px -6px rgba(116, 115, 115, 0.75);
    display: flex;
    align-items: center;
}

.btn-catalogo-container img {
    width: 2.5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

/* Seccion de servicios */

.servicios-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.servicios-container .servicios-title-container {
    display: flex;
    align-self: flex-start;
}

.line-title {
    width: .6rem;
    height: auto;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 90%);
    margin-left: 3rem;
    border-radius: 1rem;
}

.servicios-container .servicios-title-container h2 {
    font-size: 2.2rem;
    margin: .5rem 1rem 0 1rem;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cards-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.arriendos,
.ventas,
.avaluos,
.hipotecas,
.asesorias {
    width: 28rem;
    height: 33rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2rem;
    border-radius: 1.6rem;
    box-shadow: 4px 4px 8px 0px rgb(134, 134, 134);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arriendos {
    background-image: url(../images/img-arriendos.png);
}

.ventas {
    background-image: url(../images/img-ventas.png);
}

.avaluos {
    background-image: url(../images/img-avaluos.png);
}

.hipotecas {
    background-image: url(../images/img-hipoteca.png);
}

.asesorias {
    background-image: url(../images/img-asesoria.png);
}

.franja {
    background-color: var(--white);
    height: 5rem;
    display: flex;
    align-items: center;
}

.franja .subtitle-container {
    display: flex;
}

.franja .line-subtitle {
    width: .6rem;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 90%);
    border-radius: 1rem;
    margin-left: 2rem;
}

.franja h3 {
    font-size: 1.8rem;
    font-family: 'Hanson';
    color: var(--grey);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: .6rem 2rem .6rem 1rem;
}

.hoverArriendos,
.hoverVentas,
.hoverAvaluos,
.hoverHipotecas,
.hoverAsesorias {
    display: none;
    flex-direction: column;
}

.card-hover .subtitle-red-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%,rgb(194, 3, 3) 20%, rgba(123,0,0,1) 90%);
    border-radius: 1.6rem 1.6rem 0 0;
}

.card-hover .hover-text-container {
    border-bottom: 1px solid var(--white);
    margin: 0 3rem;
}

.card-hover .info-hover-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(37,37,37,0.8),  rgba(35,35,35,0.8) 10%, rgba(20,20,20,0.8) 80%);
    border-radius: 0 0 1.6rem 1.6rem;
}

.card-hover .hover-text-container p {
    font-size: 1.6rem;
    color: var(--white);
    margin-bottom: 3rem;
}

.card-hover .subtitle-red-container h3 {
    font-size: 1.8rem;
    font-family: 'Hanson';
    color: var(--white);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-hover .hover-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.card-hover .hover-contact-container img {
    width: 4rem;
    margin-bottom: .5rem;
}

.card-hover .hover-contact-container button {
    border: none;
    width: auto;
    padding: .8rem;
    border-radius: .6rem;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 80%);
    font-family: 'Hanson';
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 9px 9px 10px -6px rgba(0,0,0,0.75);
}

/* Secccion Redes Sociales */

.contacto-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.contacto-container .contacto-title-container {
    display: flex;
}

.contacto-container .contacto-title-container h2 {
    font-size: 2.2rem;
    margin: .6rem 1rem 0 1rem;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contacto-container .redes-container {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(190, 190, 190, 0.76) 100%);
}

.redes-container .coseinpro-container {
    margin: 0 4rem;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 90%);
    border-radius: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-container .coseinpro-container p {
    color: var(--white);
    font-family: 'Hanson';
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
}

.contacto-container .links-redes-container {
    background-color: var(--white);
    border-radius: 0 3rem 3rem 0;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.contacto-container .links-redes-container a {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 .5rem;
}

.contacto-container .links-redes-container img {
    width: 4.5rem;
    height: 4.5rem;
}

.redes-container .social-media {
    max-width: 70rem;
}

/* Formulario de contacto */

.contacto-container .info-contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 4rem;
    background-image: url(../images/bg-formulario2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.contacto-container .info-contacto-container h2 {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contacto-container .info-contacto-container #form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.info-contacto-container #form input {
    border: none;
    margin-bottom: 1.8rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
}

#form .form-button #btn-enviar {
    border: none;
    width: 19rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(123,0,0,1) 80%);
    font-family: 'Hanson';
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 9px 9px 10px -6px rgba(0,0,0,0.75);
}

/* Footer */

.footer-container {
    background: linear-gradient(180deg, rgba(37,37,37,1),  rgba(35,35,35,1) 10%, rgba(20,20,20,1) 80%);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.footer-container .logo-co-container {
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: center;
    margin: 6rem;
    width: 35rem;
}

.footer-container .logo-co-container img {
    margin-bottom: 6rem;
    width: 10rem;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info-container .footer-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 30rem;
}

.footer-info-container .footer-text-container span {
    width: 3.5rem;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.footer-info-container .footer-text-container img {
    width: 2.5rem;
}

.footer-info-container p {
    color: var(--white);
    font-size: 1.4rem;
}

.footer-container .footer-redes-container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.footer-container .footer-redes-container a {
    width: 4rem;
    display: flex;
    justify-content: center;
    margin: 0 .5rem;
}

.footer-container .footer-redes-container img {
    width: 3rem;
}

.footer-container .footer-p-container {
    margin: 4rem 0 2rem 0;
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 1.2rem;
}

/* Botes flotantes */

.go-wpp-container {
    position: fixed;
    bottom: 4rem;
    left: 2rem;
    width: 6rem;
    height: 6rem;
    z-index: 3;
}

.go-wpp-container .go-wpp-button {
    width: 0rem;
    height: 0rem;
    cursor: pointer;
    z-index: 3;
}

.go-wpp-container .go-wpp-button img {
    width: 6rem;
}

/* .go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 3.1rem;
    z-index: -1;
} */

/* .go-top-container .go-top-button {
    width: 0rem;
    height: 0rem;
    cursor: pointer;
    z-index: 3;
    
}

.go-top-container .go-top-button img {
    width: 5.5rem;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    width: 5rem;
    height: 5rem;
    z-index: 11;
} */