/* Header */

.sidebar {
    width: 60%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar li {
    list-style: none;
}

/* Main */

/* seccion de inicio */

.inicio-container {
    display: flex;
    justify-content: center;
}

.inicio-video-container {
    max-width: 70%;
}

/* Seccion de servicios */

.cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.arriendos,
.ventas,
.avaluos,
.hipotecas,
.asesorias {
    margin: 1rem;
}

/* Botones flotantes */

.go-top-container,
.go-top-button {
    display: none;
}