/* Header */

.sidebar {
    width: 60%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar li {
    list-style: none;
}

/* Main */

/* seccion de inicio */

.inicio-video-container {
    display: none;
}

.video-desktop {
    display: flex;
    max-width: 1468px;
}

video {
    display: flex;
    margin-top: 7rem;
}

/* fondo */
.info-container {
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url(../images/background-main-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Publicaciones */
.publicaciones-container {
    margin-top: 8rem;
}

.carousel {
    max-width: 62rem;
}

/* Seccion de servicios */

.cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.arriendos,
.ventas,
.avaluos,
.hipotecas,
.asesorias {
    margin: 1rem;
}

/* Secccion Redes Sociales */

.redes-container {
    align-items: center;
}

.redes-container .coseinpro-container {
    align-self: flex-start;
    width: 41rem;
}

.redes-container .coseinpro-container p {
    letter-spacing: 1px;
    font-size: 2rem;
    margin-right: 2rem;
}

/* Formulario de contacto */

.contacto-container .info-contacto-container {
    padding: 12rem  4rem;
    background-image: url(../images/bg-formulario-tablet.png);
    background-size: cover;
    background-position: center;
}

.contacto-container .info-contacto-container #form {
    width: 530px;
}

/* Footer */

.logo-co-container .logo-co {
    display: none;
}

.logo-co-container .logo-blanco {
    display: inline;
    width: 100%;
    margin-bottom: 4rem;
}

.footer-map #map-mobile {
    width: 50rem;
    border-radius: 1rem;
}

/* Página quienes somos */

.video-aboutUs-desktop {
    display: none;
}

.info,
.info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text p {
    text-align: center;
}

.titleTwo-container h2 {
    font-size: 2rem;
}

.coseinpro-container {
    width: 50rem;
}